<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="menuBar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="container">
        <div class="bg-image">
            <div class="navbar">
              <div class="rowHeader">
                <div class="row2">
                    <img src="../../../assets/vectorstar.jpg" alt="Snow" class="iconsize">
                    <div >
                      <div class="iconsize1">DISCOVERY</div>
                      <div class="iconsize2">LAND COMPANY</div>
                    </div>
                      </div>
                <!-- <div class="centerStyle">
                  <a href="#what">What we do</a>
                  <a href="G:/golf/components/golfHome/overWorld/overWorld.html" >Our worlds</a>
                  <a href="G:/golf/components/golfHome/Experience/experience.html">Experience</a>
                  <a href="#company">Company</a>
                  <a href="#contact">Contact</a>
                </div> -->
              <a class="lineButton" href="G:/golf/components/golfHome/golfHome/golfHome.html">
                <div style="background-color: transparent;">
                   <div style="color: white;cursor: pointer;" class="closeButton">X</div>
                  </div>
                </a>
              </div>
              <div id="cursor"></div>
      <div class="wrapper">
        <ul>
          <li class="banner">
            <div class="bannerText">
              Magazine
            </div>
          </li>
          <li class="banner">
            <div class="bannerText">
              News and Press
            </div>
          </li>
          <li class="banner">
            <div class="bannerText">
              Foundation
            </div>
          </li>
          <li class="banner">
            <div class="bannerText">
              Careers
            </div>
          </li>
          <li class="banner">
            <div class="bannerText">
              Contact
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="../Jquery/animate.js"></script>

  </body>
</html>
