<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="golfHome.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      * {
        box-sizing: border-box;
      }

      .bg-image {
        height: 630px;
        width: 100%;
      }
      .mainDiv {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="mainDiv">
      <div>
        <!-- <img
          class="bg-image"
          src="../../assets/courtney-cook-SsIIw_MET0E-unsplash.jpg"
        /> -->
        <div class="bg-image">
        <div class="text-block">
          <div class="heading">
            Golf
          </div>
        </div>
      </div>
      </div>
      <div>
        <div class="paraCenter">
          <p >
          <div class="para">
            We commission the world’s most renowned course architects to
          </div>
          <div class="para">design spectacular golf experiences on challenging yet incredibly </div>
          <div class="para">playable 18-hole courses. Our trademark comfort stations also set </div>
          <div class="para">new standards in on-course amenities. </div>
        </p>
        </div>
        <div class="ImgPara">
          <div class="morePara">
            <h3 >Perfect recreation in an unmatched location</h3>
            <p>

            </p>

          </div>
          <div class="img">
            <div>
              <img
              class="bg-image"
              src="../../assets/3D-HD-Nature-Images-For-Desktop-620x388.jpg"
            />
            </div>
           <div>
        <div class="o-gradient-img__inner" style="background-image: url('https://dxaurk9yhilm4.cloudfront.net/images/532/Golf2_a6d5da221c5021abd741e6da07ad9aaa.jpg');"></div>

           </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
