body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.bg-image {
  /* Full height */
  height: 630px;
  width: 100%;
}
.image {
  height: 630px;
  width: 100%;
  box-shadow: 40px 60px grey;
}
.mainDiv {
  /* height: 100%; */
  width: 100%;
  /* transform: translate3d(0px, 0px, 0px); */
}
.text-block {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
.text-block1 {
  /* position: absolute; */
  /* bottom: 50%; */
  /* top: 50%; */
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
.heading {
  color: white;
  font-size: 50px;
  font-weight: 900;
  font-family: lato;
}
.bg-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/courtney-cook-SsIIw_MET0E-unsplash.jpg");
}
.mainDiv {
  height: 100%;
  width: 100%;
  /* transform: translate3d(0px, 0px, 0px); */
}
.paraCenter {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 40px;
  flex-direction: column;
  align-items: center;
}
.para {
  font-size: 35px;
  font-weight: 300;
  font-family: lato;
  opacity: 0.7;
  padding: 5px;
}
.paraLine {
  font-size: 15px;
  font-weight: 300;
  /* font-family: lato; */
  opacity: 0.7;
  padding: 5px;
}
.ImgPara {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}
.morePara {
  width: 50%;
  /* background-color: red; */
  padding: 20px;
}
.img {
  width: 50%;
  padding: 20px;
  /* background-color: green; */
}
.o-gradient-img__inner {
  /* position: absolute; */
  display: flex;
  top: -20%;
  left: -20%;
  right: -20%;
  bottom: -20%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transform: scaleY(-1);
}
.headingPara {
  margin-bottom: 1px;
  font-weight: normal;
}
.ulStyle {
  display: flex;
  top: 20%;
}
.navStyle {
  display: flex;
  top: 20%;
}
.navStyle::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  right: -1.5rem;
  bottom: -1.5rem;
}
.fullImage {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#myVideo {
  height: 650px;
  /* width: 100%; */
}
.videoStyle {
  padding-top: 80px;
  padding-bottom: 40px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
