<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="golfHome.css" />
    <script src="golfHome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      * {
        box-sizing: border-box;
      }

      .bg-image {
        height: 630px;
        width: 100%;
      }
      .mainDiv {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="mainDiv">
      <div>
      
        <div class="bg-image">
          <div>
            <nav class="navStyle">
              <ul class="ulStyle">
                <li>home</li>
              <li>contact</li>
              </ul>
            </nav>
          </div>
        <div class="text-block">
          <div class="heading">
            Golf
          </div>
        </div>
      </div>
      </div>
      <div>
        <div class="paraCenter">
          <p >
          <div class="para">
            We commission the world’s most renowned course architects to
          </div>
          <div class="para">design spectacular golf experiences on challenging yet incredibly </div>
          <div class="para">playable 18-hole courses. Our trademark comfort stations also set </div>
          <div class="para">new standards in on-course amenities. </div>
        </p>
        </div>
        <div class="ImgPara">
          <div class="morePara">
            <div class="para">
            Perfect recreation in an unmatched location</div>
            <p>
              <div class="paraLine">Our widely-acclaimed courses have been designed by </div>
              <div class="paraLine">some of the world’s very best architects, including </div>
              <div class="paraLine">Robert Trent Jones Jr. and Tom Fazio. </div>
            </p>
            <p>
              <div class="paraLine">And it’s their genius way of transforming unique </div>
              <div class="paraLine">landscapes into stunningly scenic courses that make </div>
              <div class="paraLine">our golf experience as beautiful as it is playable.</div>

            </p>
            <p>
              <div class="paraLine">Every fairway rewards the perfect drive, every bunker </div>
              <div class="paraLine">has been carefully placed, every pin position has been </div>
              <div class="paraLine">meticulously planned – with all our courses thoughtfully </div>
              <div class="paraLine">crafted for challenge and leisure.</div>
            </p>
            <p>
              <div class="paraLine">So you can choose to take on your fellow members in </div>
              <div class="paraLine">ultra-competitive annual tournaments, or just play for </div>
              <div class="paraLine">the fun of it…barefoot with the family. This is luxury and </div>
              <div class="paraLine">fun on your own terms.</div>
            </p>
          </div>
          <div class="img">
            <div>
              <img
              class="image"
              src="../../assets/3D-HD-Nature-Images-For-Desktop-620x388.jpg"
            />
            </div>
           
          </div>
        </div>

        <div class="videoStyle">
          <div>
          <video autoplay muted loop id="myVideo">
            <source src="../../assets/Golf_Swing.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
          <div class="text-block1">
            <div class="heading">
              nmczk
            </div>
          </div>
          <!-- <div class="content">
            <button id="myBtn" onclick="myFunction()">Pause</button>
          </div> -->
          
        </div>


        <div class="ImgPara">
          <div class="img">
            <div>
              <img
              class="bg-image"
              src="../../assets/3D-Nature-Images-For-Desktop-620x349.jpg"
            />
            </div>
           
          </div>
          <div class="morePara">
            <div class="para">
            Perfect recreation in an unmatched location</div>
            <p>
              <div class="paraLine">Our widely-acclaimed courses have been designed by </div>
              <div class="paraLine">some of the world’s very best architects, including </div>
              <div class="paraLine">Robert Trent Jones Jr. and Tom Fazio. </div>
            </p>
            <p>
              <div class="paraLine">And it’s their genius way of transforming unique </div>
              <div class="paraLine">landscapes into stunningly scenic courses that make </div>
              <div class="paraLine">our golf experience as beautiful as it is playable.</div>

            </p>
            <p>
              <div class="paraLine">Every fairway rewards the perfect drive, every bunker </div>
              <div class="paraLine">has been carefully placed, every pin position has been </div>
              <div class="paraLine">meticulously planned – with all our courses thoughtfully </div>
              <div class="paraLine">crafted for challenge and leisure.</div>
            </p>
            <p>
              <div class="paraLine">So you can choose to take on your fellow members in </div>
              <div class="paraLine">ultra-competitive annual tournaments, or just play for </div>
              <div class="paraLine">the fun of it…barefoot with the family. This is luxury and </div>
              <div class="paraLine">fun on your own terms.</div>
            </p>
          </div>
        </div>
        <div>
          <div class="fullImage">
            <img
            class="bg-image"
            src="../../assets/elizeu-dias-RN6ts8IZ4_0-unsplash.jpg"
          />
          </div>
        </div>


      </div>
    </div>
  </body>
</html>
